body {
    height: 100vh;
}

.app-container {
    text-align: center
}

.status {
    font-size: 7rem
}

.update {
    font-size: 4.5rem
}

.temp {
    font-size: 4.5rem
}

.countdown {
    font-size: 6.5rem
}

.form {
    font-size: 4rem
}

.turnonoff {
    display: inline;
    margin: 5px;
    font-size: 75%
}

.time {
    display: initial;
    width: initial;
    margin: 5px;
    font-size: 75%;
    text-align: center
}

@media (max-device-width: 500px) {
    .status {
        font-size: 3rem
    }

    .update {
        font-size: 2rem
    }

    .temp {
        font-size: 2rem
    }

    .countdown {
        font-size: 2.5rem
    }

    .form {
        font-size: 1.7rem
    }
}
